*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
body{
   background-color: #e8e8e8;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 120vh;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus,input:active{
   outline: 0;
}
.circle_1{
   width: 600px;
   height: 600px;
   position: fixed;
   background-image: linear-gradient(to right,#94a3c2,#596888);
   z-index: -1;
   border-radius: 100%;
   left: -9rem;
   top: 54%;
   transform: translateY(-38%);
}
.login_page{
  
   width: 81%;
   max-width: 1200px;
   height: 600px;
   display: flex;
   align-items: center;
   border-radius: 20px;
   border: 5px solid #fff;
   overflow: hidden;
}
.login_page form{
   width: 70%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   background-color: rgba(255,255,255,0.1);
   backdrop-filter: blur(22px);
}


.login-img{
   width: 30%;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;
   background-color: #fff;
}

.login-img img{
   object-fit: cover;
  
}

h1{
   color: #fff;
   margin-bottom: 3rem;
}

.form-group{
   display: flex;
   flex-direction: column;
   margin-bottom: 2rem;
   width: 50%;
}
.form-group label{
   margin-bottom: 0.5rem;
   font-weight: bold;
   color: #fff;
   
}

.form-group input{
   border: 2px solid white;
   background-color: transparent;
   height: 40px;
   border-radius: 20px;
   cursor: pointer;
   padding-left: 10px;
   
}
.button-form{
   width: 50%;
}
.button-form button{
   border: none;
    background-color: #fff;
    width: 100%;
    height: 45px;
    border-radius: 20px;
    margin-bottom: 2rem;

}

.bottom-form a{
   color: #fff;
   font-weight: 700; 
   font-size: 1rem;
   text-decoration: none;
    

}

@media screen and (max-width:768px) {
   .login-img{
       display: none;
   }
   .login_page form {
       width: 100%;
   }
   .form-group ,.button-form {
       width: 80%;
   }
}


